/* h11, h12, h13, h14 {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(0, 49, 83);
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  margin: 0 auto;
  width: 600px;
  height: 400px;
}
 */

.contactFormMain {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(150, 150, 150);
  background-image: url('/src/assets/images/ContactFormMain.jpg'); 
  background-size: cover;
  background-position: -100px;
  background-position-y: -120px;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
  margin-top: 10px;
  margin: 0 auto;
}

.form-group {
  margin: 10px;
}

.contactFormInput, .contactFormInput2 {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.contactFormSubmit {
  width: 100%;
  padding: 10px;
  background-color: rgb(0, 49, 83);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black;
  font-size: 20px;
  margin-top: -6px;
  margin-left: 180px;
}

.contactFormInput2 {
  height: 180px;
}

.contactLastName {
  height: 20px;
}
