.nav {
    display: flex;
    justify-content: center;
}

.nav > a {
    background-color: rgb(0, 49, 83);
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    flex: 1;
    max-width: 180px;
    min-width: 180px;
}

.nav > a.home {
    color: white;
    background-image: url('/src/assets/images/IconHome.png'); 
    background-size: 30px;
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 40px;
    background-color: rgb(0, 49, 83);
    border: 2px solid black;
}

.nav > a.home:hover {
    color: white;
    background-image: url('/src/assets/images/HomePic.jpg'); 
    background-size: cover;
    background-position-y: -40px;
    background-position-x: 0px;
    background-repeat: no-repeat;
    padding-left: 20px;
    background-color: rgb(0, 49, 83);
    border: 2px solid black;
}

.nav > a.help {
    color: white;
    background-image: url('/src/assets/images/IconAbout.png'); 
    background-size: 30px;
    background-position: 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    background-color: rgb(0, 49, 83);
    border: 2px solid black;
}

.nav > a.help:hover {
    color: white;
    background-image: url('/src/assets/images/AboutPic.jpg'); 
    background-size: cover;
    background-position-y: -40px;
    background-position-x: 0px;
    background-repeat: no-repeat;
    padding-left: 20px;
    background-color: rgb(0, 49, 83);
    border: 2px solid black;
}

.nav > a.snake {
    color: white;
    background-image: url('/src/assets/images/IconSnake.png'); 
    background-size: 30px;
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 40px;
    background-color: rgb(0, 49, 83);
    border: 2px solid black;
}

.nav > a.snake:hover {
    color: white;
    background-image: url('/src/assets/images/SnakePic.jpg'); 
    background-size: 160%;
    background-position-y: -100px;
    background-position-x: -70px;
    background-repeat: no-repeat;
    padding-left: 20px;
    background-color: rgb(0, 49, 83);
    border: 2px solid black;
}

body {
    background-image: url('/src/assets/images/Emperor.jpeg');
    background-size: 2600px 1500px;
    background-repeat: no-repeat;
}
/* 
.nav {
  display: inline-block;
} */

.nav > a.registration {
    position: relative;
    color: white;
    background-image: url('/src/assets/images/IconRegistration.png'); 
    background-size: 30px;
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 40px;
    background-color: rgb(0, 49, 83);
    border: 2px solid black;
}

.nav > a.registration:hover {
    color: white;
    background-image: url('/src/assets/images/RegistrationPic.jpg'); 
    background-size: cover;
    background-position-y: -22px;
    background-position-x: 0px;
    background-repeat: no-repeat;
    padding-left: 20px;
    background-color: rgb(0, 49, 83);
    border: 2px solid black;
}

.nav > a.registration .registration-submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(0, 49, 83);
    border: 2px solid black;
    z-index: 1;
}

.nav > a.registration:hover .registration-submenu  {
    display: flex;
    flex-direction: column;
}

.subpage1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(0, 49, 83);
    border: 2px solid black;
    border-radius: 10px;
    z-index: 1;
}

.dropDownProfile {
    position: absolute;
    top: 4.5rem;
    right: 1.5rem;
    width: 120px;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid gray;
}

.dropDownProfile::before {
    content: "";
    position: absolute;
    top: 0,7rem;
    right: 1.2rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}
