.luke-skywalker {
    background-image: url('../../assets/swimages/tyogqds4au851.jpg');
    background-size: cover;
}

.darth-caedus {
    background-image: url('../../assets/swimages/Caedus_EA.jpg');
    background-size: cover;
}