.clearfix {
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 30px;
    color: White;
    margin: 4px 0px;
    background-color:rgb(0, 49, 83);
    padding: 4px 10px;
    border-radius: 10px;
}

h2 {
    font-size: 20px;
     color: White;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 30px;
}

h6 {
    font-size: 20px;
}
