.clearfix {
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 30px;
}

h6 {
    font-size: 20px;
}
