.clearfix {
    clear: both;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 49, 83);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

h2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 49, 83);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

h3 {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 49, 83);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

h4 {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 49, 83);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

h5 {
    display: inline-block;
    background-color: rgb(0, 49, 83);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

h6 {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 49, 83);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

h7 {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 49, 83);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

h8 {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 49, 83);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

h9 {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 49, 83);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}
