.nav {
    display: flex;
    justify-content: center;
}

.nav > a {
    background-color: rgb(0, 49, 83);
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    flex: 1;
    max-width: 160px;
    min-width: 160px;
}

.nav > a.chat {
    color: white;
}

.nav > a.home {
    color: white;
    /* background-image: url('F:\Teksty\Programming\dreadwing-protocol\src\components\Pictures\Button1.png');
    background-size: 260px 100px; */
}

.nav > a.about {
    color: white;
}

.nav > a.facebook {
    color: white;
}

.nav > a.discord {
    color: white;
}

.nav > a.registration {
    color: white;
}

.nav > a.rules {
    color: white;
}

body {
    background-image: url('F:\Teksty\Programming\dreadwing-protocol\src\components\Pictures\Emperor.jpeg');
    background-size: 2600px 1500px;
    background-repeat: no-repeat;
}
